@{
    ViewBag.Title = "PayPal API Sample";
}

<h2>Pick an API</h2>

<ul class="menu">
    <li><a href="@Url.Action("Index", "PayPal")">REST API (beta)</a></li>
    <li><a href="@Url.Action("Index", "PayPalLegacy")">Legacy API</a></li>
</ul>