@{
    ViewBag.Title = "Order Voided";
}

<h2>Order Voided</h2>

<ul class="menu">
    <li><a href="@Url.Action("CreatePayment")">Create Payment</a></li>
    <li><a href="@Url.Action("Index")">Start Over</a></li>
</ul>