@{
    ViewBag.Title = "Order Canceled";
}

<h2>Order Canceled</h2>

<ul  class="menu">
    <li><a href="@Url.Action("CreateOrder")">Place an Order</a></li>
    <li><a href="@Url.Action("Index")">Start Over</a></li>
</ul>